.text-shadow {
    text-shadow: 7px 7px 5px rgba(5, 19, 73, 0.4);
}

.text-shadow-white {
    text-shadow: 7px 7px 5px rgba(68, 68, 68, 0.5);
}

@media screen and (max-width:640px){
    .text-shadow {
        text-shadow: 4px 4px 3px rgba(5, 19, 73, 0.2);
    }
    .text-shadow-white {
        text-shadow: 4px 4px 3px rgba(68, 68, 68, 0.3);
    }
}

.hero-banner {
    background-image: url("../../../Asset/Image/herobg.png");
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
}
