.text-shadow {
    text-shadow: 7px 7px 5px rgba(5, 19, 73, 0.4);
}

.text-shadow-white {
    text-shadow: 7px 7px 5px rgba(68, 68, 68, 0.5);
}
/* 
.homeBanner {
    background-image: url("../../../Asset/Image/home-banner-bg.jpg");
    background-repeat: no-repeat ;
    background-position: center;    
} */