/* Overriding antd modal */

.NavbarModal .ant-modal,
.ant-modal-content {
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    backdrop-filter: blur(10px);
}

.NavbarModal .ant-modal-body {
    height: 100vh;
}

.NavbarModal .ant-modal-content {
    background-color: transparent !important;
    border-radius: 0 !important;
    color: #ffffff !important;
}

.NavbarModal .ant-modal-title {
    background-color: white !important;
    border-radius: 0 !important;
    color: #ffffff !important;
}

.NavbarModal .ant-modal-close-x {
    display: block;
    font-size: 24px !important;
    font-weight: 800 !important;
    color: rgb(255, 255, 255) !important;
    line-height: 22px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
}

.NavbarModal .cross_btn>.ant-modal-content>.ant-modal-close {
    position: absolute;
    top: 3.5rem !important;
    margin-right: 0.7rem !important;
    inset-inline-end: 17px;
    z-index: 1010;
    padding: 0;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    border: 0;
    outline: 0;
    cursor: pointer;
}